# Minecraft runtime and personal data
mods/*.jar
saves/
logs/
crash-reports/
*.log
options.txt
servers.dat
usercache.json
usernamecache.json
*.dat_old
*.dat
local/
ESM/
emojiful/cache/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
moonlight-global-datapacks/
natives-*/
.mixin.out/
.probe/
.cache/
.hmcl/
.vscode/
kubejs-backup-server-scripts/
*.bak
*.before-*
config/ftbchunks-world.snbt
config/resourceful-config-web.json
